@import "/core.css";

/*start header & footer*/
ul {
  list-style: none;
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.primary-button {
  background-color: var(--primaryColor);
  color: var(--bgColor);
  padding: 10px 20px;
  border-radius: 24px;
  font-family: var(--mainFont);
}

/* end header & footer

/* start hero section */

#hero-section {
  display: flex;
  flex-direction: column;
}
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-block: 32px;
}
#heroTitle {
  font-size: 32px;
}
#heroPar {
  color: var(--textColor);
}
/* hero section grid */

/* Mobile phones: 320px–440px */
@media only screen and (min-width: 320px) and (max-width: 440px) {
  #hero-bento-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "GD GD "
      "UIUX Apps"
      "ILL ILL"
      "Photo Photo"
      "MG MG";
    gap: 10px;
  }
  #hero-bento-grid > img {
    border-radius: 22px;
    margin: auto;
    display: block;
  }

  #GD {
    grid-area: GD;
  }
  #UIUX {
    grid-area: UIUX;
  }
  #Apps {
    grid-area: Apps;
  }
  #ILL {
    grid-area: ILL;
  }
  #Photo {
    grid-area: Photo;
  }
  #MG {
    grid-area: MG;
  }
}

/* Small tablets: 441px–767px,iPads: 768px–834px */
@media only screen and (min-width: 441px) and (max-width: 834px) {
  #hero-bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "GD GD UIUX Apps "
      "GD GD ILL ILL "
      "Photo Photo MG MG ";
    gap: 10px;
    margin: 0 auto;
  }
  #GD {
    grid-area: GD;
  }
  #UIUX {
    grid-area: UIUX;
  }
  #Apps {
    grid-area: Apps;
  }
  #ILL {
    grid-area: ILL;
  }
  #Photo {
    grid-area: Photo;
  }
  #MG {
    grid-area: MG;
  }
}

/* Desktop & large screens: 835px+ */
@media only screen and (min-width: 835px) {
  #hero-bento-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "GD GD UIUX Apps Photo Photo "
      "GD GD ILL ILL  MG MG";
    gap: 10px;
    margin: 0 auto;
  }
  #GD {
    grid-area: GD;
  }
  #UIUX {
    grid-area: UIUX;
  }
  #Apps {
    grid-area: Apps;
  }
  #ILL {
    grid-area: ILL;
  }
  #Photo {
    grid-area: Photo;
  }
  #MG {
    grid-area: MG;
  }
}

/* end hero section */


/*start profile section */
#profile-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 20px;
}
.secondary-button {
  display: inline-block;
  max-width: fit-content;
  background-color: var(--secondaryColor);
  color: var(--bgColor);
  padding: 10px 20px;
  border-radius: 24px;
  font-family: var(--mainFont);
}
#profile-image {
  width: 100%;
}
#profileTitle {
  font-size: 28px;
  text-align: center;
}
#profilePar {
  text-align: center;
  color: var(--textColor);
}

/*************************/
/* profile responsive */
@media only screen and (min-width: 441px) and (max-width: 834px) {
  #profile-section {
    flex-direction: row;
    gap: 40px;
  }
  #profile-info {
    width: calc((100% - 20px) / 2);
  }
  #profileTitle {
    font-size: 22px;
    text-align: left;
  }
  #profile-image {
    width: calc((100% - 20px) / 2);
  }
  #profilePar {
    text-align: left;
  }
  #profile-info > a {
    margin-right: auto;
  }
}

@media only screen and (min-width: 835px) {
  #profile-section {
    flex-direction: row;
    gap: 40px;
  }
  #profile-info {
    width: calc((100% - 20px) / 2);
  }
  #profileTitle {
    font-size: 42px;
    text-align: left;
  }
  #profile-image {
    width: calc((100% - 150px) / 2);
  }
  #profilePar {
    text-align: left;
  }
  #profile-info > a {
    font-size: 19.2px;
    margin-right: auto;
  }
}
/*end profile section */


/* start work section  */
#work-section {
  padding-block: 1em;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;
  gap: 1em;
}

#workTitle {
  font-size: 2em;
}

#Carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1em;
  padding: 1em;
  max-width: 100vw;
  touch-action: pan-x;
}

.slide {
  flex: 0 0 80%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.slide img {
  border-radius: 1em;
}
#arrrows {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  color: var(--bgColor);
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 441px) and (max-width: 834px) {
  .arrow {
    width: 2em;
    height: 2em;
  }
  .slide {
    flex: 0 0 55%;
  }
}

@media only screen and (min-width: 835px) {
  .slide {
    flex: 0 0 45%;
  }
}
@media only screen and (min-width: 1024px) {
  .slide {
    flex: 0 0 30%;
  }
}
/* end work section  */


/* start book section */
#book-section {
  background: var(--primaryColor);
  color: var(--bgColor);
  margin-inline: 20px;
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  padding: 1.5em;
  padding-block: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  gap: 3em;
  margin-bottom: 2em;
}
#book-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#book-info > h2 {
  font-size: 2em;
}
#book-info > p {
  line-height: 2em;
  font-size: 1em;
}
@media only screen and (min-width: 835px) {
  #book-section {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 6em;
  }
  #book-info {
    width: 50%;
    text-align: start;
  }
  #book-info > h2 {
    text-align: start;
    align-self: start;
  }
}
/* end book section */
